.num_view{
	padding: 0 0.5em;
    height: 24px;
    font-size: 1.3rem;
    background-color: #ec1e1e;
    color: #FFF;
}

.add-new {
    float: right;
	height: 30px;
	font-weight: bold;
	font-size: 12px;
	text-shadow: none;
	min-width: 100px;
	border-radius: 50px;
	line-height: 13px;
	color: #fff;
    background-color: #128a4f;
    border-color: #35b777;
    }
 .add-new i {
		margin-right: 4px;
	}