.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.maps{
  width: 100%;
  height:45em;
}
.add-new {
    float: right;
	height: 30px;
	font-weight: bold;
	font-size: 12px;
	text-shadow: none;
	min-width: 100px;
	border-radius: 50px;
	line-height: 13px;
	color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    }
 .add-new i {
		margin-right: 4px;
	}
	table.table td  {
	    width: 0.2em;
	}


    .profile-top {
        width: 100%;
        margin: 0;
    }
  .profile-photo {
    padding-top: 16px; 
    text-align: center;
   }
  .profile-photo img {
        width: 128px;
        height: 128px;
        border-radius: 50%;
        border: solid 2px rgba(234, 79, 20, .5);
        margin: 0 auto;
    }

    .example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
ng2-auto-complete, input {
       border: 1px solid #ccc; 
    }
